body {
	margin: 0;
    background: black;
    font-family: 'Roboto', sans-serif;	font-weight: 800;
    color: white;
}
/* css for header and nav bar */

header{
    background-color: black;
    padding-right: 5%;
    padding-left: 5%;
}

.active{
    text-decoration: underline;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    border-radius: 4px;
    color: white
  }
  nav a:hover{
    background-color: rgb(52, 52, 52);

  }
  nav li {
    display: inline;
    font-size: larger;  
    margin: 0px 20px;  
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image{
    width: 300px;
    height: 40px;
}

/* css for the main image and logo in center */
.main-image-logo{
    position: relative;
    text-align: center;
}

.main-image{
    width: 100%;
}

.centered-logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* index album area */
.grad {
    background-image: linear-gradient(#000000, #3D5F5F, #0000);
    height: 550px;
  }
.index-album{
    flex: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 500px;
}
.index-album-image:hover{
    transform: scale(1.2);
  }
.album-title{
    font-size: 40px;
}

/*index about area */
.index-about {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.ticket-button {
    padding: 15px 200px;
    font-size: 32px;
    background-color: blue;
    color: white;
    margin-top: 10px;
  }
  
.about-text {
    text-align: left; /* Align text to the left */
    font-size: 32px;
    margin-right: 20px; 
    max-width: 50%;
  }

  /*album page background */
  .album-background
  {
    background-image: linear-gradient(#000000, #3D5F5F, #0000);
    height: 100%;
  }
  .album-rows{
    flex: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 500px;
}


  /* tour page */
  .tours{

    justify-content: center;
    align-items: center;
  }
  .white-bar{
    background-color: white;
    width: 50%;
  }



@media (max-width: 800px) {
 .header-image{
    display: none;
 }
 nav li {
    display: block;
    margin: 0px 20px;  
    margin-left: 100px;
}
.index-main-image{
    width: 50%;
}

.centered-logo
{
    width: 50%;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-cover{
    width: 50%;
    height: 50%;
}
.index-album{
    flex: content;
    display: flex;
    flex-direction: column;
    height: auto;
}
.about-image{
    display: none;
}
.about-text {
    text-align: left; /* Align text to the left */
    font-size: 15px;
    text-align: center;
  }
  .ticket-button {
    padding: 10px;
    font-size: 10px;
    width: 50%;
    background-color: blue;
    color: white;
  }
  .index-about {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 100px;
    align-items: center;
}

.album-rows{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 100px;
    align-items: center;
}
}

